.spread::before,
.spread::after {
  top: -5px;
  left: -2px;
  transform: rotate(-1.75deg);
}

.spread::after {
  transform: rotate(-0.75deg);
}

.neat::before,
.neat::after {
  top: -5px;
  left: -2px;
  transform: rotate(-0.5deg);
}

.neat::after {
  transform: rotate(-0.25deg);
}

.tall::before {
  top: -10px;
  left: -6px;
}

.tall::after {
  top: -6px;
  left: -9px;
}
